.question {
    background: #ffffff;
    padding: 12px;
    margin: 20px 0;
    border-radius: 7px;
    min-width: 800px;
}

.question-title {
    color: #007bff;
    font-size: 1.25em!important;
}

.question-answers {
    color: #ffffff!important;
    border-radius: 7px;
    line-height: normal;
    background: #87949b;
}

    .question-answers-green {
        background: #5fba7d;
    }

    .question-answers-red {
        background: #ba5e43;
    }

    .question-answers > span {
        font-size: 0.75em;
    }

.question-votes {
    color: #87949b !important;
    line-height: normal;
}

    .question-votes > span {
        font-size: 0.75em;
    }